@import url('https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Noto+Serif:wght@700&family=Spline+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Spline Sans', sans-serif;
  background-color: #f2f4f7;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  display: block;
  font: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  height: 8vh;
  width: 100vw;
  background-color: #293241;
}

#logo {
  color: #eb600f;
  font-family: 'Domine', serif;
  font-size: 1.9rem;
  letter-spacing: 5px;
  text-transform: capitalize;
  text-shadow: 4px 3px 0 #353535;
}

header nav ul {
  width: 18.75rem;
  display: flex;
  justify-content: space-around;
}

header nav a {
  color: #f8ffff;
  letter-spacing: 1px;
  transition: all 0.1s ease-in-out;
}

header nav a:hover {
  color: #ffd20a;
}

.jumbotron {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  color: #293241;
  font-size: 1.12rem;
  line-height: 1.4;
}

.about-container {
  width: 50%;
  padding: 3.12rem;
  text-align: center;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.about-container h1 {
  margin: 3.75rem 0 1.25rem 0;
  font-size: 3.75rem;
  font-family: 'Noto Serif', serif;
  letter-spacing: 3px;
  text-transform: capitalize;
}

.about-container h2 {
  font-weight: 400;
  text-transform: capitalize;
}

.about-container a {
  color: #eb600f;
  transition: all 0.1s ease-in-out;
}

.about-container a:hover {
  color: #fc8e4f;
}

.about-container figure {
  margin: 0 auto;
  width: 21.9rem;
}

.about-container img {
  width: 100%;
}

.form-login {
  width: 50%;
}

.form-login section {
  margin-bottom: 1.5rem;
}

.form-login form {
  width: 25rem;
  margin: 15% auto 0 auto;
  padding: 1.25rem;
  background: #dee6eb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-login h3 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
}

.form-login li {
  padding: 0.5rem 0;
}

.form-login input {
  width: 100%;
  margin: 0.3rem 0;
  border-radius: 4px;
  border: 1px solid #dee6eb;
}

.form-login input:focus {
  background: #f1faff;
  border: 1px solid #f1faff;
}

#confident-agree {
  margin-bottom: 0.5rem;
}

.inline-control {
  display: flex;
}

.inline-control input {
  width: auto;
  margin-right: 5px;
}

.form-login button {
  display: block;
  width: 100%;
  margin-bottom: 0.93rem;
  padding: 0.62rem 0;
  border-radius: 5px;
  font-size: inherit;
  background-color: #293241;
  border: 1px solid #293241;
  color: #f8ffff;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.form-login button:hover {
  background-color: #3d495e;
}

.form-login a {
  display: inline-block;
  color: #0f408a;
  font-size: 1.1rem;
}

.form-login a:hover {
  color: #165abe;
}

footer {
  height: 12vh;
  background: #293241;
}
